

:root {
    --font-size-sm: 2rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --font-size-xxl: 5rem;
  }


@media (min-width: 1px) and (max-width: 767px) {
	:root {
    --font-size-sm: 1rem;
    --font-size-md: 1.4rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3rem;
    --font-size-xxl: 4rem;
  }
  }
  

.main{	
	background-color: black;
	&.content{
	

		
	}
	.ctnHeader{
		//position: fixed;
		width: 100%;
		height: 120px;
		top: 0;
		z-index: 999;
		background: #000;
		scroll-snap-align: start;
		scroll-snap-stop: always;
	}

	
	.header{
		// margin-left: 50px;
		// margin-right: 50px;
		padding: 15px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.right{
			display: flex;
			align-items: center;
			gap: 24px;
			.item{
				cursor: pointer;
				&:hover{
					opacity: 0.5;
				}
				a{
					font-size: var(--font-size-sm);
				}

				.btn-gaming{
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: var(--font-size-sm);
					width: 120px;
					height: 48px;
					border-radius: 100px;
					background: linear-gradient(270deg, #030DFF 0%, #BF1DAF 100%);
				}
				
			}
		}
	}
}
html{
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
}
.information{
	scroll-snap-type: y mandatory;
	
}
.section{
	height: 100vh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

.contentMaxWidth{
	max-width: 1400px;
	margin: 0 auto;


}

.lookingFor{
	padding-left: 50px;
	padding-right: 50px;
	min-height: calc(100vh - 120px);
	display: flex;
	flex-direction: column;
	justify-content: center;

	.options{
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 100px;
		margin-top: 56px;
	
		.selection{
			z-index: 0;
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 8px;
			padding-top: 48px;
			padding-bottom: 120px;
	
			color: rgb(250, 250, 250);
			position: relative;
			border-radius: 20px; 
			font-size: var(--font-size-md);
			
			}
		.left{
			background: 
			radial-gradient(120.71% 89.67% at 52.72% 106.09%, rgba(173, 0, 255, 0.50) 20.83%, rgba(0, 29, 180, 0.50) 57.81%, #000 100%);
			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				inset: 0;
				padding: 7px; 
				background:radient-gradient(180deg,#2C00AA, #000000); 
				border-radius: 20px;
				-webkit-mask: 
				   linear-gradient(#fff 0 0) content-box, 
				   linear-gradient(#fff 0 0);
				-webkit-mask-composite: xor;
						mask-composite: exclude; 
			  }
		}
	
		.right{
			background: radial-gradient(133.33% 99.05% at 53.2% 100%, rgba(0, 29, 180, 0.50) 0.01%, #000 100%);
			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				inset: 0;
				padding: 7px; 
				background:linear-gradient(180deg,#794A05, #9E4C0000); 
				border-radius: 20px;
				-webkit-mask: 
				   linear-gradient(#fff 0 0) content-box, 
				   linear-gradient(#fff 0 0);
				-webkit-mask-composite: xor;
						mask-composite: exclude; 
			  }
		}
		li{
			font-size: var(--font-size-sm);
		}
	}
	.title{
		color: #FFF;
		text-align: center;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: var(--font-size-xxl);
		font-weight: 500;
	}
	.ctnText{

	}
}

.specialText{
	display: inline-block;
	width: 100%;
	background: linear-gradient(270deg, #AC07C7 28.24%, rgba(186, 178, 0, 0.56) 107.02%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: var(--font-size-lg);
	font-style: italic;
}

.btn-help{
	width: 200px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BF7F1D;
    border-radius: 99px;
    font-size: var(--font-size-sm);
	font-weight: 700;
}
.enterprise{
	#services{
		// background: radial-gradient(5.73% 3.34% at 52.54% -2.88%, rgba(0, 71, 255, 0.2) 73.73%, rgba(0, 0, 0, 0.2) 100%), radial-gradient(99.66% 11.31% at 75.66% 24.9%, #AD00FF 26.04%, #001DB4 55.73%, #000 100%);		
		background: 
			radial-gradient(102.66% 19.31% at 75.66% 26.9%, #AD00FF 26.04%, #001DB4 55.73%, #000 100%);
	}
	.introduce{
		position: relative;
		//height: calc(200vh - 75px);
		display: flex;
		justify-content: space-between;
		color: #ffffff;
		.content{
			height: 100vh;
			display: flex;
			align-items: center;

			.ctnText{
				display: flex;
				flex-direction: column;
				//gap: 4px;

				.text{
					font-size: var(--font-size-md);

				}
			}
		}
		.left{
			padding-left: 50px;
		}
		.right{
			padding-left: 50px;

			position: relative;
			display: flex;
			flex-direction: column;
			//justify-content: space-between;

			.virtualization {
				background: 
					radial-gradient(50% 30% at 50% 50%, #002aff 20%, #000 100%);

			}

			.stick{
				position: absolute;
				z-index: 1;
				top: 25%;
				bottom: 25%;
				right: 43%;
				background: linear-gradient(#0057FF, #FF9900, #0057FF);
				width: 8px;
			}
		}
	}
	.first{
		display: flex;
		z-index: 2;
		//justify-content: space-between;
		align-items: center;
		//gap: 40px;
		//background: radial-gradient(#0047FF, #000000);
		height: calc(100vh );
		background: radial-gradient(109.73% 32.34% at 75.54% 92.12%, rgba(0, 71, 255, 0.2) 55.73%, rgba(0, 0, 0, 0.2) 107%), radial-gradient(105.66% 39.31% at 81.66% 49.9%, #AD00FF 26.04%, #001DB4 55.73%, #000 100%);
		



	}
	.second{
		display: flex;
		z-index: 1;

	}


	.detail{
		//display: flex;
		//justify-content: space-between;
		height: 420vh;

		.mainContent{
			display: flex;
			justify-content: space-between;
			height: 300vh;
			position: relative;
			//background: radial-gradient(24% 91.44% at 78.27% 95.94%, #002179 16.06%, #000 100%, #000 100%);

			.left{
				margin-left: 50px;
				z-index: 2;
			}
			.right{
				margin-left: 50px;
				position: relative;
				display: flex;
				flex-direction: column;
				//justify-content: space-between;
				background: radial-gradient(50% 45% at 50% 50%, #002177 5.06%, #000 100%, #000 100%);
				.stick{
					position: absolute;
					z-index: 1;
					top: 17%;
					bottom: 15%;
					right: 50%;
					background: linear-gradient(#0057FF, #FF9900, #0057FF);
					width: 8px;
					//box-shadow: rgb(76 88 134 / 50%) 4px 8px 25px 32px;
					}
				}
			}
			.content{
				height: 100vh;
				display: flex;
				align-items: center;
				//justify-content: center;
				//scroll-snap-align: start;
				//scroll-snap-stop: normal;
				.title{
					font-size: var(--font-size-xl);
					font-weight: 700;
					margin-bottom: 24px;
				}
				.ctnText{
					display: flex;
					flex-direction: column;
					gap: 8px;
	
					.text{
						font-size: var(--font-size-md);
					}
				}
				
				
				
			}

			.bg{
				position: absolute;
				z-index: 0;
				width: 100%;
				height: 100%;
				top: 0;
				background: radial-gradient(6.73% 2.34% at 52.54% 71.12%, rgba(0, 71, 255, 0.2) 73.73%, rgba(0, 0, 0, 0.2) 100%), radial-gradient(99.66% 11.31% at 75.66% 17.9%, #AD00FF 26.04%, #001DB4 55.73%, #000 100%);
			}
			.bg2{
				position: absolute;
				z-index: 0;
				width: 100%;
				height: 100%;
				top: 0;
				background: radial-gradient(24% 91.44% at 81.27% 66.94%, #002177 5.06%, #000 100%, #000 100%);
			}
		}
		
		.subContent{
			display: flex;
			//justify-content: space-between;
			height: 100vh;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.title{
				font-size: var(--font-size-xl);
				font-weight: 700;
				margin-bottom: 56px;
			}

			margin-left: 50px;
			margin-right: 50px;
			.client{
				position: relative;
				//width: 412px;
				height: 500px;
				flex-shrink: 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding:  40px 32px;
				gap: 40px;
				padding-top: 40px;
				border-radius: 7px;
				background: linear-gradient(180deg, #000 55.73%, #0F00BA 100%);
				&::before {
					content: "";
					position: absolute;
					inset: 0;
					padding: 7px; 
					background: linear-gradient(180deg, #794A05, #9E4C0000);

					border-radius: 20px;
					-webkit-mask: 
					   linear-gradient(#fff 0 0) content-box, 
					   linear-gradient(#fff 0 0);
					-webkit-mask-composite: xor;
							mask-composite: exclude; 
				  }

				  p{
					font-size: var(--font-size-md);
				  }
			}
		}
	
	
}
	
.contact{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.info{
		background: linear-gradient(180deg, #000 4.79%, #0026AC 100.7%, #000 72.71%);		height: 70vh;
		width: 100%;
		height: 70vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.text{
		font-size: var(--font-size-md);
		font-weight: 700;
	}

	.bottom{
		display: flex;
		gap: 16%;
		height: 30vh;
		width: 100%;
		align-items: center;
	}

}